@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&family=Russo+One&display=swap');

//--------------------------------Colors
$background_color: #426384;
$background_color2:#f36523;
$button_current_link_color: $background_color2;
$button_link_hover_color:#e7e7e9;
$light_color:#ffffff;
$light_dark_color:#31393c;
$dark_color:#000000;
$hero_overlay:rgba(255,255,255,0.7);
$box-shadow:1px 2px 8px 1px $light_dark_color;


//background-image property on each gradient section
$color_gradient: linear-gradient(130deg, $background_color2, $background_color);

//--------------------------------Typography
$h1_font:700 35px 'Russo One', sans-serif;
$h2_font:600 18px 'Russo One', sans-serif;
$h3_font:400 25px 'Russo One', sans-serif;
$h4_font:500 22px 'open sans', sans-serif;
$h5_font:500 14px 'open sans', sans-serif;
$p_font_size:400 14px  'open sans', sans-serif;
$pserif_font_size:400 14px  'Crimson Text', serif;
$button_font:400 16px 'open sans', sans-serif; 

$text-shadow: 1px 1px 1px $light_dark_color;



//-------------------------------shapes & dimensions
$button_radius:5px;

$img_width:80%;
$img_height:auto;

//Left hand side images
$left_img_radius:0;

//Right hand side images
$right_img_radius:0;

//Padding 
$Vertical-padding:2%;
$Horizontal-padding:$Vertical-padding*2;

//-------------------------------------Mixins


//Rows
@mixin flex($direction:row, $alignmentX:left, $alignmentY:flex-start){
    display:flex;
    flex-direction: $direction;
    justify-content: $alignmentX;
    align-items: $alignmentY;
}

// Text block
@mixin block(){
    min-height: 40px;
    line-height: 40px;
    width: 100%;
    max-width: 100%;
    margin: 10px auto 0 auto;
    padding:0;
}

// block text
@mixin blockText(){
    min-width: 100%;
    font:$h5_font;
    font-weight: 700;
    color:$light_color;
    text-align:center;
    text-shadow: $text-shadow;
}

//Buttons
@mixin buttons() {
    color:$light_color;
    background-color: $button_current_link_color;
    border: none;
    border-radius: $button_radius $button_radius $button_radius $button_radius;
    font:$button_font;
    padding:8px 15px 10px 15px;
    box-shadow: $box-shadow;
}


body{
    color:$light_dark_color;
    max-width: 100%;
}

.wrapper{
    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;

}


a{
    text-decoration: none;
    color:$dark_color;
}

nav{
    height: 120px;
    margin:0 auto 50px auto;

    & img{
        max-width: 90px;
        padding: 0 0 15px 0;
    }

    & ul{
        @include flex();
        justify-content: space-around;
        background-color: $background_color;
        @include block();


        & li{
            list-style: none;
            max-width: 20%;
            padding:0;

            & a{
                display:block;
                color: $light_color;
                font: $p_font_size;
                font-size: 16px;
                font-weight: 900;
                line-height: 40px;
                text-align:center;
                text-shadow: $text-shadow;
            }

            & a:hover{
                color: $button_link_hover_color;
            }

            & a.active{
                color: $background_color2;
            }
        }
    }
}

div.hero{
    height: 250px;
    background-color: $button_link_hover_color;
    min-width: 90%;
    width: 99%;
    margin: 0 auto;


    & div.hero-text{
        max-width: 450px;
        margin: 0 auto; 

        & span.h11{
            font: $h1_font;
            font-size: 40px; 
            line-height: 250px;
        }
        
        & span.h12{
            font: $h1_font;
            font-size: 40px; 
            line-height: 250px;

        }
        
        & span.h13{
            font: $p_font_size;
            font-size: 40px; 
            line-height: 250px;

        }
    }

    & div.about, div.contact{
        max-width: 250px;
    }

    
}

nav.mobile-nav{
    @include flex();
}

nav.desktop-nav{
    display: none;
}

div.content{
    margin-bottom: 0;

    & div.hero-bottom{
        background-color: $background_color2;
        @include block();
        text-align:center;

        & span.h14{
            min-width: 100%;
            font:$p_font_size;
            color:$light_color;
            text-align:center;
        }

    }

    & div.inner-content{
        background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%,rgba(255, 255, 255, 0.9) 100%), url("/fullsuite/images/antenna.jpg");
        min-height: 600px;
        background-size: 100%; 
        background-position: top;
        background-repeat: no-repeat;
        //background-size: cover;

        & h3.inner-title{
            width: 100%; 
            font:$h3_font;
            font-size: 18px;
            font-weight: 900;
            color: $background_color;
            text-align:center;
            margin-bottom: -5px;
        }

        & p.inner-p{
            color:$light_dark_color;
            text-align: center;
            font: $p_font_size;
            text-shadow: 1px 1px 2px $light_color;
            font-weight: 600;
            max-width: 80%;
            margin: 10px auto;
        }

    }

    & div.partners-header{
        background-color: $background_color;
        @include block();
        margin-top: 0;
        text-align: center;

        & span.partners{
            @include blockText();
        }
    }

    & div.partners-block{
        @include flex(row, space-between, center);
        min-width: 100%;
        height: 220px;

        & img{

            max-width: 15%;
            margin: 0 auto;

        }
    }

    & div.contact-header{
        background-color: $background_color2;
        @include block();
        text-align: center;

        & span.contact{
            @include blockText();

        }
    }

    div.contact-block{
        @include flex(column, center, center);
        background-color: $background_color;
        min-width:96%;
        margin-bottom: 0;
        padding: 2%;

        & div.contact-info{
            @include flex(column, left, flex-start);
            min-width: 100%;
            margin: 0 0 0 2%;

            & img{
                max-width: 76%;
            }

            & p.contact-details{
                font:$p_font_size;
                color: $light_color;
                max-width: 96%;
            }
        }

        & form{
            @include flex(column, left, flex-start);
            min-width: 96%;
            margin-top: 40px;

            & input, textarea{
                min-width: 98%;
                height: 30px;
                margin:0 0 20px 0;
                font:$p_font_size;
                color: $light_dark_color;
            }

            & textarea{
                height: 150px;
            }

            & input.send-button{
                background-color: $background_color2;
                color: $light_color;
                min-width: 70px;
                max-width: 90px;
                border: none;
                border-radius: 3px;
                padding: 4px;
                cursor: pointer;
            }

            & input.send-button:hover{
                background-color: $light_color;
                color: $background_color2;
            }

            & label{
                font:$p_font_size;
                color: $light_color;
            }

        }
    }
}

footer{
    background-color: $background_color;
    height: 45px;
    line-height: 45px;
    text-align: center;

    & p.footer-text{
        font: $p_font_size;
        color:$light_color;
        line-height: 45px;
        text-align: center;
        margin-top: 1px;
    }
}


//---------------------------------------------------------------
//                           Tablet                              |
//---------------------------------------------------------------

@media only screen and (min-width: 680px){

}

//---------------------------------------------------------------
//                           Desktop                             |
//---------------------------------------------------------------

@media only screen and (min-width: 1024px){


    nav.mobile-nav{
        display:none;
    }

    nav.desktop-nav{
        @include flex(column);

        & div.spacer{
            height:1px;
            min-width:100%;
            background-color:  $background_color;
            text-shadow: $text-shadow;
        }


    }

    
div.content{

    div.contact-block{
        @include flex(row, center, flex-start);
        background-color: $background_color;
        min-width:96%;

        & div.contact-info{
            min-width: 48%;

            & img{
                width: 96%;

            }
        }

        & form{
            min-width: 48%;
            margin-top: 10px;
            & input, textarea{
                min-width: 96%;
            }
        }
    }
}

div.content{
    margin-bottom: 0;

    & div.hero-bottom{
        background-color: $background_color2;
        @include block();
        text-align:center;

        & span.h14{
            min-width: 100%;
            font:$p_font_size;
            color:$light_color;
            text-align:center;
        }

    }

    & div.inner-content{
        background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%,rgba(255, 255, 255, 0.9) 100%), url("/fullsuite/images/antenna.jpg");
        min-height: 600px;
        background-size: 100%; 
        background-position: top;
        background-repeat: no-repeat;
        //background-size: cover;

        & h3.inner-title{
            margin-bottom: 0;
        }

        & p.inner-p{
            max-width: 60%;
            margin: 10px auto 30px auto;
        }

    }
}

}