@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&family=Russo+One&display=swap");
body {
  color: #31393c;
  max-width: 100%;
}

.wrapper {
  overflow-x: hidden;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: #000000;
}

nav {
  height: 120px;
  margin: 0 auto 50px auto;
}

nav img {
  max-width: 90px;
  padding: 0 0 15px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #426384;
  min-height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 100%;
  margin: 10px auto 0 auto;
  padding: 0;
}

nav ul li {
  list-style: none;
  max-width: 20%;
  padding: 0;
}

nav ul li a {
  display: block;
  color: #ffffff;
  font: 400 14px "open sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px #31393c;
}

nav ul li a:hover {
  color: #e7e7e9;
}

nav ul li a.active {
  color: #f36523;
}

div.hero {
  height: 250px;
  background-color: #e7e7e9;
  min-width: 90%;
  width: 99%;
  margin: 0 auto;
}

div.hero div.hero-text {
  max-width: 450px;
  margin: 0 auto;
}

div.hero div.hero-text span.h11 {
  font: 700 35px "Russo One", sans-serif;
  font-size: 40px;
  line-height: 250px;
}

div.hero div.hero-text span.h12 {
  font: 700 35px "Russo One", sans-serif;
  font-size: 40px;
  line-height: 250px;
}

div.hero div.hero-text span.h13 {
  font: 400 14px "open sans", sans-serif;
  font-size: 40px;
  line-height: 250px;
}

div.hero div.about, div.hero div.contact {
  max-width: 250px;
}

nav.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav.desktop-nav {
  display: none;
}

div.content {
  margin-bottom: 0;
}

div.content div.hero-bottom {
  background-color: #f36523;
  min-height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 100%;
  margin: 10px auto 0 auto;
  padding: 0;
  text-align: center;
}

div.content div.hero-bottom span.h14 {
  min-width: 100%;
  font: 400 14px "open sans", sans-serif;
  color: #ffffff;
  text-align: center;
}

div.content div.inner-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url("/fullsuite/images/antenna.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("/fullsuite/images/antenna.jpg");
  min-height: 600px;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

div.content div.inner-content h3.inner-title {
  width: 100%;
  font: 400 25px "Russo One", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #426384;
  text-align: center;
  margin-bottom: -5px;
}

div.content div.inner-content p.inner-p {
  color: #31393c;
  text-align: center;
  font: 400 14px "open sans", sans-serif;
  text-shadow: 1px 1px 2px #ffffff;
  font-weight: 600;
  max-width: 80%;
  margin: 10px auto;
}

div.content div.partners-header {
  background-color: #426384;
  min-height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 100%;
  margin: 10px auto 0 auto;
  padding: 0;
  margin-top: 0;
  text-align: center;
}

div.content div.partners-header span.partners {
  min-width: 100%;
  font: 500 14px "open sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #31393c;
}

div.content div.partners-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  height: 220px;
}

div.content div.partners-block img {
  max-width: 15%;
  margin: 0 auto;
}

div.content div.contact-header {
  background-color: #f36523;
  min-height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 100%;
  margin: 10px auto 0 auto;
  padding: 0;
  text-align: center;
}

div.content div.contact-header span.contact {
  min-width: 100%;
  font: 500 14px "open sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #31393c;
}

div.content div.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #426384;
  min-width: 96%;
  margin-bottom: 0;
  padding: 2%;
}

div.content div.contact-block div.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 100%;
  margin: 0 0 0 2%;
}

div.content div.contact-block div.contact-info img {
  max-width: 76%;
}

div.content div.contact-block div.contact-info p.contact-details {
  font: 400 14px "open sans", sans-serif;
  color: #ffffff;
  max-width: 96%;
}

div.content div.contact-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 96%;
  margin-top: 40px;
}

div.content div.contact-block form input, div.content div.contact-block form textarea {
  min-width: 98%;
  height: 30px;
  margin: 0 0 20px 0;
  font: 400 14px "open sans", sans-serif;
  color: #31393c;
}

div.content div.contact-block form textarea {
  height: 150px;
}

div.content div.contact-block form input.send-button {
  background-color: #f36523;
  color: #ffffff;
  min-width: 70px;
  max-width: 90px;
  border: none;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}

div.content div.contact-block form input.send-button:hover {
  background-color: #ffffff;
  color: #f36523;
}

div.content div.contact-block form label {
  font: 400 14px "open sans", sans-serif;
  color: #ffffff;
}

footer {
  background-color: #426384;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

footer p.footer-text {
  font: 400 14px "open sans", sans-serif;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  margin-top: 1px;
}

@media only screen and (min-width: 1024px) {
  nav.mobile-nav {
    display: none;
  }
  nav.desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav.desktop-nav div.spacer {
    height: 1px;
    min-width: 100%;
    background-color: #426384;
    text-shadow: 1px 1px 1px #31393c;
  }
  div.content div.contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #426384;
    min-width: 96%;
  }
  div.content div.contact-block div.contact-info {
    min-width: 48%;
  }
  div.content div.contact-block div.contact-info img {
    width: 96%;
  }
  div.content div.contact-block form {
    min-width: 48%;
    margin-top: 10px;
  }
  div.content div.contact-block form input, div.content div.contact-block form textarea {
    min-width: 96%;
  }
  div.content {
    margin-bottom: 0;
  }
  div.content div.hero-bottom {
    background-color: #f36523;
    min-height: 40px;
    line-height: 40px;
    width: 100%;
    max-width: 100%;
    margin: 10px auto 0 auto;
    padding: 0;
    text-align: center;
  }
  div.content div.hero-bottom span.h14 {
    min-width: 100%;
    font: 400 14px "open sans", sans-serif;
    color: #ffffff;
    text-align: center;
  }
  div.content div.inner-content {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url("/fullsuite/images/antenna.jpg");
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("/fullsuite/images/antenna.jpg");
    min-height: 600px;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  div.content div.inner-content h3.inner-title {
    margin-bottom: 0;
  }
  div.content div.inner-content p.inner-p {
    max-width: 60%;
    margin: 10px auto 30px auto;
  }
}
/*# sourceMappingURL=styles.css.map */