@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&family=Russo+One&display=swap');

//--------------------------------Colors
$background_color: #39A8FE;
$background_color1: #2876B2;
$background_color2: #2D86CB;
$background_color3:#f36523;
$button_current_link_color: $background_color3;
$button_link_hover_color:#e7e7e9;
$light_color:#ffffff;
$light_dark_color:#31393c;
$dark_color:#000000;
$hero_overlay:rgba(255,255,255,0.7);
$box-shadow:1px 2px 8px 1px $light_dark_color;


//background-image property on each gradient section
$color_gradient: linear-gradient(130deg, $background_color2, $background_color);

//--------------------------------Typography
$h1_font:700 35px 'Russo One', sans-serif;
$h2_font:600 18px 'Russo One', sans-serif;
$h3_font:400 25px 'Russo One', sans-serif;
$h4_font:500 22px 'open sans', sans-serif;
$h5_font:500 14px 'open sans', sans-serif;
$p_font_size:400 14px  'open sans', sans-serif;
$pserif_font_size:400 14px  'Crimson Text', serif;
$button_font:400 16px 'open sans', sans-serif; 

$text-shadow: 1px 1px 1px $light_dark_color;



//-------------------------------shapes & dimensions
$button_radius:5px;

$img_width:80%;
$img_height:auto;

//Left hand side images
$left_img_radius:0;

//Right hand side images
$right_img_radius:0;

//Padding 
$Vertical-padding:2%;
$Horizontal-padding:$Vertical-padding*2;

//-------------------------------------Mixins


//Rows
@mixin flex($direction:row, $alignmentX:left, $alignmentY:flex-start){
    display:flex;
    flex-direction: $direction;
    justify-content: $alignmentX;
    align-items: $alignmentY;
}

// Text block
@mixin block($background: $light-color){
    min-height: 40px;
    line-height: 40px;
    width: 100%;
    max-width: 100%;
    margin: 30px auto 20px auto;
    padding:0;
    background-color: $background;
}

// block text
@mixin blockText(){
    min-width: 100%;
    font:$h4_font;
    font-weight: 700;
    color:$light-dark_color;
    text-align:center;
    text-shadow: $text-shadow;
}

//Buttons
@mixin buttons() {
    color:$light_color;
    background-color: $button_current_link_color;
    border: none;
    border-radius: $button_radius $button_radius $button_radius $button_radius;
    font:$button_font;
    padding:8px 15px 10px 15px;
    box-shadow: $box-shadow;
}


body{
    color:$light_dark_color;
    min-width: 100%;
    margin: 0;
}

.wrapper{
    overflow-x: hidden;
    min-width: 100%;
    max-width: 1200px;

}


a{
    text-decoration: none;
    color:$dark_color;
}

nav{
    height: 120px;
    margin:0 auto 50px auto;

    & img{
        max-width: 90px;
        padding: 0 0 15px 0;
    }

    & ul{
        @include flex();
        justify-content: space-around;
        background-color: $background_color;
        @include block();


        & li{
            list-style: none;
            max-width: 20%;
            padding:0;

            & a{
                display:block;
                color: $light_color;
                font: $p_font_size;
                font-size: 16px;
                font-weight: 900;
                line-height: 40px;
                text-align:center;
                text-shadow: $text-shadow;
            }

            & a:hover{
                color: $button_link_hover_color;
            }

            & a.active{
                color: $background_color2;
            }
        }
    }
}



nav.mobile{
    @include flex();
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
    min-width: 100%;
    max-height: 105px;
    box-shadow: $box-shadow;
    margin-bottom: 0;
    background-color: $light_color;

    & div.brand-link-container{
        width: 45%;
        padding-left: 5%;

        & a.brand-link{
            width: 100%;
            
            & img.navlogo{
                width: 150px;
                height: auto;
            }
        }
    }

    & div.fa-bars-container{
        width: 45%;
        padding-right: 5%;        
        text-align: right;

        & i.fa{
            text-align: right;
            font-size: 30px;
            color: $background_color;
            line-height: 105px;
            cursor: pointer;
        }

        & i.fa:hover{
            color: $background_color2;
        }
    }
}

nav.nav-hamburger-navigation{
    @include flex(column, center, center);
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
    min-width: 100%;
    min-height: 300px;
    box-shadow: $box-shadow;
    margin:0;
    background-color: $light_color;

    & div.nav-hamburger-top{
        @include flex();
        min-width: 100%;
        max-height: 105px;
        margin:5px 0 0 0;
        box-shadow: $box-shadow;
        background-color: $light_color;
    }

    & ul.nav-mobile-items{
        @include flex(column, center, center);
        min-height: 200px;
        padding:0;
        margin:0;

        & li.nav-item{
            background-color: $background_color;
            min-width:100%;

            & a.nav-link{
                display:block;
                min-width:100%;
                background-color: $background_color;
            }    

            & a.active{
                background-color: $background_color2;
                color: $light_color;
            }   
        }

        & li.nav-item:hover{
            background-color: $light_dark_color;

            & a.nav-link{
                background-color: $light_dark_color;
            }    
        }
    }
}

nav#hidden, .hidden{
    display: none;
}

nav.desktop-nav{
    display: none;
}

div.block{
    @include flex(column, space-between, center);
    min-height: 350px;
    min-width: 100%;
    margin: 20px 0 10px 0;

    & div.block-image-container{
        width: 200px;
        height: 200px;
        margin: 20px 0 100px 0;

        & div.block-imgback-shape{
            position: relative;
            z-index: 0;
            width: 180px;
            height: 180px;
            margin: 0 0 0 -20px;
            background-color: $background_color;
            border-radius: 5px;
        }

        & img.block-top-image{
            position: relative;
            z-index: 1000;
            width: 250px;
            height: 250px;
            margin: -160px 0 0 0; 
            box-shadow:$box-shadow;
    
        }
    }

    & img.block-top-image{
        width: 50%;
        height: auto;
        margin: 0 auto 20px auto;

    }

    & div.block-text-container{
        @include flex(column, center, center);
        max-width: 450%;
        margin: 0 auto 10px auto;
        padding: 20px;

        & div.block-text{
            min-width: 100%;
            margin: 0 auto; 
    
            & div.h11{
                font: $h1_font;
                font-size: 40px; 
                text-align: center;
                color: $light_color;
                text-shadow: $light_dark_color 0 1px 20px;
            }
            
            & div.h13{
                font: $p_font_size;
                font-size: 30px; 
                text-align: center;
                color: $light_color;
                text-shadow: $light_dark_color 0 1px 20px;
                margin: 0 0 10px 0;    
            }

            & div.dark{
                color:$light_dark_color;
                text-shadow:none;
            }
        }  
        
        & div.block-buttons{
            @include flex();
            min-width: 100%;
    
            & a.buttons{
                @include buttons();
                margin: 0 auto;
                border: 2px solid $background_color3; 
            }

            & a.buttons-2{
                margin: 0 15px 0 0;
            }
    
            & a.solid-button:hover{
                background-color:$button_link_hover_color;
                border: 2px solid $button_link_hover_color; 
                color: $light-dark_color;
            }
    
            & a.border-button{
                background-color: hsla(19, 90%, 55%, 0);
            }
    
            & a.border-button:hover{
                border: 2px solid $button_link_hover_color; 
            }
        }
    }

}


div.hero{
    background-color:$background_color2;
    min-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-size: cover;

    & div.block-text-container{
        padding: 250px 0 50px 0;
    }
}

div.content{
    margin-bottom: 0;

    & div.hero-bottom{
        background-color: $background_color2;
        @include block();
        text-align:center;

        & span.h14{
            min-width: 100%;
            font:$p_font_size;
            color:$light_color;
            text-align:center;
        }

    }

    & div.headings{
        @include block();
        text-align: center;

        & span{
            @include blockText();
            margin-top: 20px;

        }
    }

    & div.headings, div.blues{
        @include block($background_color);

        & span.blue-span{
            color: $light_color;
            display: block;
            padding: 20px 0 5px 0;

        }

        & p.blue-p{
            color: $light_color;
            margin: 2px 2px 0 2px;
            font:$h5_font;
        }
    }

    & div.blues2{
        padding: 10px 0 30px 0;
        margin: 0;

        & p.blue-p{
            padding: 10px 0 30px 0;
        }
    }

    & div.inner-content{
        background-size: 100%; 
        background-position: top;
        background-repeat: no-repeat;
        //background-size: cover;

        & h3.inner-title{
            width: 100%; 
            font:$h3_font;
            font-size: 18px;
            font-weight: 900;
            color: $background_color;
            text-align:center;
            margin-bottom: -5px;
        }

        & p.inner-p{
            color:$light_dark_color;
            text-align: center;
            font: $p_font_size;
            text-shadow: 1px 1px 2px $light_color;
            font-weight: 600;
            max-width: 80%;
            margin: 10px auto;
        }

    }

    & div.light-block{
        @include flex(row, space-between, center);
        min-width: 100%;
        height: 220px;

        & img{

            max-width: 15%;
            margin: 0 auto;

        }
    }

    & div.headings{
        @include block();
        text-align: center;

        & span{
            @include blockText();
            margin-top: 20px;

        }
    }

    & div.headings.blues{
        @include block($background_color1);

        & span{
            color: $light_color;
        }
    }

    & div.blue-block{
        @include flex(column, center, center);
        background-color: $background_color1;
        min-width:96%;
        margin-bottom: 0;
        padding: 2%;

        & div.contact-info{
            @include flex(column, left, flex-start);
            min-width: 48%;
            width: 48%;
            margin: 0 0 0 2%;

            & img{
                max-width: 76%;
            }

            & p.contact-details{
                font:$p_font_size;
                color: $light_color;
                max-width: 96%;
            }
        }

        & form{
            @include flex(column, left, flex-start);
            min-width: 46%;
            width: 46%;
            margin-top: 40px;

            & input, textarea{
                min-width: 98%;
                height: 30px;
                margin:0 0 20px 0;
                font:$p_font_size;
                color: $light_dark_color;
            }

            & textarea{
                height: 150px;
            }

            & input.send-button{
                background-color: $background_color3;
                color: $light_color;
                min-width: 70px;
                max-width: 90px;
                border: none;
                border-radius: 3px;
                padding: 4px;
                cursor: pointer;
            }

            & input.send-button:hover{
                background-color: $light_color;
                color: $background_color2;
            }

            & label{
                font:$p_font_size;
                color: $light_color;
            }

        }
    }

    & div.card-container{
        @include flex(column, center, center);
    
        & div.card-content{
            @include flex(column, center, center);
            background-color: $light_color;
            border-radius: 5px;
            margin: 0 25px 20px 25px;
            padding: 10px 5% 5px 5%;
            width: 80%;
            min-height: 350px;
            box-shadow: 0 0 10px 0 $light-dark_color;

            & i.fa{
                font-size: 85px;
                color:$light-dark_color
            }
    
            & h3{
                font:$h3_font;
                color:$background_color2;

            }
    
            & p{
                font:$p_font_size;
                margin: 2px 0;
            }
    
            & a{
                font:$p_font_size;
                color:$background_color2;
                text-decoration: underline;
                margin: 20px 0 10px 0;    
            }

            & a:hover{
                color:$background_color3;
            }
    
        }

        & div.card-content:hover{
            box-shadow: 0 0 30px 0 $light-dark_color;
        }

    }
}



footer{
    background-color: $background_color1;
    height: 45px;
    line-height: 45px;
    text-align: center;

    & p.footer-text{
        font: $p_font_size;
        color:$light_color;
        line-height: 45px;
        text-align: center;
        margin-top: 1px;
    }
}


//---------------------------------------------------------------
//                           Tablet                              |
//---------------------------------------------------------------

@media only screen and (min-width: 680px){

    div.block{
        @include flex(row-reverse, center, center);
        min-height: 350px;
        max-width: 80%;
        margin: 0 auto;
    
        & div.block-image-container{
            width: 350px;
            height: 350px;
            margin: 0 0 100px 0;
    
            & div.block-imgback-shape{
                position: relative;
                z-index: 0;
                width: 225px;
                height: 230px;
                margin: 20px 0 0 150px;
                background-color: $background_color;
                border-radius: 5px;
            }

            & div.shape1{
                margin: 20px 0 0 -25px;

            }
    
            & img.block-top-image{
                position: relative;
                z-index: 1000;
                width: 350px;
                height: 350px;
                margin: -210px 0 0 0; 
                box-shadow:$box-shadow;
        
            }
        }
    
        & img.block-top-image{
            width: 80%;
            height: auto;
            margin: 0 auto 20px auto;
    
        }
    
        & div.block-text-container{
            @include flex(column, center, center);
            max-width: 45%;
            margin: 40px 20px;
            padding: 20px 0 20px 0;
    
            & div.block-text{
                min-width: 100%;
                margin: 0 auto; 
        
                & div.h11{
                    text-align: left;
                }
                
                & div.h13{
                    text-align: left;
                    margin: 0 0 10px 0;    
                }
    
                & div.dark{
                    color:$light_dark_color;
                    text-shadow:none;
                }
            }  
            
            & div.block-buttons{
                @include flex();
                min-width: 100%;
        
                & a.buttons{
                    margin: 0;
                }
    
                & a.buttons-2{
                    margin: 0 15px 0 0;
                }
        
                & a.solid-button:hover{
                    background-color:$button_link_hover_color;
                    border: 2px solid $button_link_hover_color; 
                    color: $light-dark_color;
                }
        
                & a.border-button{
                    background-color: hsla(19, 90%, 55%, 0);
                }
        
                & a.border-button:hover{
                    border: 2px solid $button_link_hover_color; 
                }
            }
        }
    
    }
    
    
    div.hero{
        @include flex(row, space-between, center);
        margin: 0 auto;
        background-size: cover;

        & img.block-top-image{
            width:500px;
            margin-top: 150px;
            padding-top: 40px;
            margin-right: -50px;

        }
    
        & div.block-text-container{
            padding: 290px 0 100px 200px;        }
    }

}

//---------------------------------------------------------------
//                           Desktop                             |
//---------------------------------------------------------------

@media only screen and (min-width: 1024px){


    nav.mobile-nav{
        display:none;
    }

    nav.desktop-nav{
        @include flex(row, space-between, center);
        background: rgba(104, 146, 109, 0);
        min-width: 100%;
        max-height: 80px;
        margin:0;
        padding:5px 0 0 0;

        & a.brand-link{
            display: block;
            max-width: 9%;
            padding: 3px 0.5%;
            margin:0;

            & img.logo{
                margin:5px;
                height: 70px;
                width: auto;
            }
        }

        & ul.nav-desktop-items{
            @include flex(row, space-between center);
            background: rgba(104, 146, 109, 0);
            max-width: 50%;
            padding: 0 0 0 40%;
            margin-right: 0;
            
            & li.nav-item{
                background: rgba(104, 146, 109, 0);
                max-height:0;


                & a.nav-link{
                    color:$light_color;
                    font: $p_font_size;
                    font-size: 16px;
                    font-weight: 900;

                }

                & a.nav-link:hover{
                    color:$background_color;

                }

                & a.active{
                    color: $background_color3;

                }
            }
        }
    }


    div.hero{
        min-height: 350px;
        background-color: $background_color1;
        min-width: 100%;
        margin: -170px auto 0 auto;
        z-index:50;


        & div.hero-text{
            max-width: 450px;
            margin: 0 auto; 

            & span.h11{
                font: $h1_font;
                font-size: 40px; 
            }
            
            & span.h12{
                font: $h1_font;
                font-size: 40px; 
                line-height: 550px;

            }
            
            & span.h13{
                font: $p_font_size;
                font-size: 40px; 
                line-height: 550px;

            }
        }        
    }

div.content{

    div.blue-block{
        @include flex(row, space-between, flex-start);
        max-width: 98%;

        & div.contact-info{
            min-width: 22%;
        }

        & form{
            min-width: 22%;
            margin-top: 0;
            & input, textarea{
                min-width: 96%;
            }
        }
    }
}

div.content{
    margin-bottom: 0;

    & div.hero-bottom{
        background-color: $background_color2;
        @include block();
        text-align:center;

        & span.h14{
            min-width: 100%;
            font:$p_font_size;
            color:$light_color;
            text-align:center;
        }

    }

    & div.inner-content{
        background-color: $light-color;
        background-size: 100%; 
        background-position: top;
        background-repeat: no-repeat;

        & h3.inner-title{
            margin-bottom: 0;
        }

        & p.inner-p{
            max-width: 60%;
            margin: 10px auto 30px auto;
        }

    }

    & div.card-container{
        @include flex(row, center, center);
    
        & div.card-content{
            @include flex(column, center, center);
            background-color: $light_color;
            border-radius: 5px;
            margin: 0 25px 20px 25px;
            padding: 10px 15px 5px 15px;
            min-width: 250px;
            min-height: 350px;
            box-shadow: 0 0 10px 0 $light-dark_color;

            & i.fa{
                font-size: 45px;
                color:$light-dark_color
            }
    
            & h3{
                font:$h3_font;
                color:$background_color2;

            }
    
            & p{
                font:$p_font_size;
                margin: 2px 0;
            }
    
            & a{
                font:$p_font_size;
                color:$background_color2;
                text-decoration: underline;
                margin: 20px 0 10px 0;    
            }

            & a:hover{
                color:$background_color3;
            }
    
        }

        & div.card-content:hover{
            box-shadow: 0 0 30px 0 $light-dark_color;
        }

    }
}

}